body{
    background: linear-gradient(to right, #c04848, #480048);
    min-height: 100vh;
}
    .text-gray{
        color: rgb(204, 181, 181);
    }
    img{
        height: 170px;
        width: 140px;
    }